<mat-toolbar>
  <span class="example-fill-remaining-space"></span>
  <span>Livrets {{ promotion }}</span>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Colonne INE -->
      <ng-container matColumnDef="INE">
        <mat-header-cell *matHeaderCellDef> No. INE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.INE}} </mat-cell>
      </ng-container>
  
      <!-- Colonne Nom -->
      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
      </ng-container>
  
      <!-- Colonne Prénom -->
      <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
      </ng-container>

      <!-- Colonne Parcours -->
      <ng-container matColumnDef="parcours">
          <mat-header-cell *matHeaderCellDef> Parcours </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.parcours}} </mat-cell>
        </ng-container>

        <!-- Colonne Action -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="openDialog(row, 'livret')" matTooltip='Livret' matTooltipPosition="below"><mat-icon>assignment</mat-icon></button>
                <button mat-icon-button (click)="openDialog(row, 'alternant')" matTooltip='Alternant' matTooltipPosition="below"><mat-icon>person</mat-icon></button>
                <button mat-icon-button (click)="openDialog(row, 'entreprise')" matTooltip='Entreprise' matTooltipPosition="below"><mat-icon>work</mat-icon></button>
              </mat-cell>
          </ng-container> 
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>